.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top:10%;
}

.profileImage {
  width:200px;
  margin-top: 60%;
}

.formStyle {
  text-align: center;
  border: solid black;
  border-radius: 5px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(215, 224, 224);
  margin-top: 3%;
  margin-bottom: 5%;
  box-shadow: 5px 10px #888888;
}